<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>

<section class="antialiased bg-gray-100 text-gray-600 h-screen px-4" x-data="app">
<div class="max-w-2xl mx-auto bg-white p-16">

	<form method="post" action="/productos">
    <h1 class="text-center text-2xl font-bold text-gray-700 mb-10">Ingrese Producto</h1>
    <div class="mb-6">
      <label for="title" class="block text-sm font-medium text-gray-700">Nombre</label>
      <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-6">
      <label for="price" class="block text-sm font-medium text-gray-700">Precio</label>
      <input type="number" step=".01" id="price" name="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
  </div>        
    <div class="mb-6">
        <label for="thumbnail" class="block text-sm font-medium text-gray-700">Foto URL</label>
        <input type="text" id="thumbnail" name="thumbnail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
    <button type="button" class="text-white bg-amber-700 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      <a href="/productos" role="button">Historial</a>
    </button>
</form>

</div>
<div id="saved" style="display: none;"><%= typeof isSaved != 'undefined' ? isSaved : '' %></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  const isSaved = document.getElementById('saved').innerHTML.toString()
  if(isSaved == 'saved') {
    Toastify({
      text: "El producto se grabo satisfactoriamente",
      offset: {
        x: 50, 
        y: 10 
      },
    }).showToast();
  }
</script>
</section>
</body>
</html>